.mC1, .mC2, .mCH 
		{
 margin: 0.5em 1.5em 0em 1.5em;  
padding: 0em;
	border-top: 0.05em solid  #a0a0a0; 
	z-index: 1;
	color: #555;
	}

.mC1 p, .mC2 p, .mCH p
{
  padding: 0em;
  margin: 0.5em 0em 0.5em 0em;
  text-align: justify;
  font-size: 0.9em;
  padding: 0em;
}


.footer 
	{
 margin: 1em 1.5em 0.2em 1.5em;
	border-bottom: 0.05em solid #a0a0a0;
	border-top: 0.05em solid #a0a0a0;
/* background: #fff; */
	z-index: 1;
color: #606060;
	}

.footer p
{
 padding: 0em;
font-size: 0.9em;
 margin: 0.1em;
}

.mC1 img, .mC2 img
{
  margin: 0.5em 0.5em 0.1em 0em;
  border: 0.05em solid #ccc;
}

.mC1 a, .mC2 a, .footer a
{
  color: #993300;
  text-decoration: none;
}

.mC1 ul li
{
  margin: 0.5em;
}
